@keyframes ldio-dne7hzce75 {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

.ldio-dne7hzce75 div {
	box-sizing: border-box !important
}

.ldio-dne7hzce75>div {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 5px;
	left: 5px;
	border-radius: 50%;
	border: 4px solid #000;
	border-color: #00bc8c transparent #00bc8c transparent;
	animation: ldio-dne7hzce75 2.0408163265306123s linear infinite;
}

.ldio-dne7hzce75>div:nth-child(2),
.ldio-dne7hzce75>div:nth-child(4) {
	width: 80px;
	height: 80px;
	top: 10px;
	left: 10px;
	animation: ldio-dne7hzce75 2.0408163265306123s linear infinite reverse;
}

.ldio-dne7hzce75>div:nth-child(2) {
	border-color: transparent #e74c3c transparent #e74c3c
}

.ldio-dne7hzce75>div:nth-child(3) {
	border-color: transparent
}

.ldio-dne7hzce75>div:nth-child(3) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}

.ldio-dne7hzce75>div:nth-child(3) div:before,
.ldio-dne7hzce75>div:nth-child(3) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	top: -4px;
	left: 39px;
	background: #00bc8c;
	border-radius: 50%;
	box-shadow: 0 86px 0 0 #00bc8c;
}

.ldio-dne7hzce75>div:nth-child(3) div:after {
	left: -4px;
	top: 39px;
	box-shadow: 86px 0 0 0 #00bc8c;
}

.ldio-dne7hzce75>div:nth-child(4) {
	border-color: transparent;
}

.ldio-dne7hzce75>div:nth-child(4) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}

.ldio-dne7hzce75>div:nth-child(4) div:before,
.ldio-dne7hzce75>div:nth-child(4) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	top: -4px;
	left: 34px;
	background: #e74c3c;
	border-radius: 50%;
	box-shadow: 0 76px 0 0 #e74c3c;
}

.ldio-dne7hzce75>div:nth-child(4) div:after {
	left: -4px;
	top: 34px;
	box-shadow: 76px 0 0 0 #e74c3c;
}

.loadingio-spinner-double-ring-3lynfclh1k5 {
	width: 74px;
	height: 74px;
	display: inline-block;
	overflow: hidden;
	background: rgba(NaN, NaN, NaN, 0);
}

.ldio-dne7hzce75 {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(0.74);
	backface-visibility: hidden;
	transform-origin: 0 0;
	/* see note above */
}

.ldio-dne7hzce75 div {
	box-sizing: content-box;
}